.add-form {
    margin-top: 100px;
    outline: 2px solid red;
    min-width: 400px;
    width: 33vw;
    padding: 2vmin;

    &__title {
        font-size: 1.5rem;
    }

    &__form {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}