.book {
    outline: 2px solid red;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: decimal;

    // &__title {
    //     font-size: 1.5rem;
    // }
}