.navbar {
    height: 100px;
    width: 100vw;
    color: red;
    position: fixed;
    top: 0;
    left: 0;
    outline: 5px solid #000;
    // text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}